<table style="width:100%" class="esriFormTable">
  <tbody>
    <tr>
      <td class="shortTextInput" colspan="3" style="padding-bottom:0;">
        <div class="esriLeadingMargin1">
          <label>
            <input type="checkbox" data-dojo-attach-point="_useTrafficCheck" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:_handleUseTrafficCheckChange" data-dojo-props="checked:false" style="margin-bottom:0.25em;">
            </input>
            <label class="esriLeadingMargin025">${i18n.trafficLabel}</label>
         </label>
        </div>
      </td>
    </tr>
    <tr data-dojo-attach-point="_driveTimeRow">
      <td colspan="3" style="padding-top:0;padding-bottom:0">
        <select class="esriLeadingMargin2 mediumInput esriAnalysisSelect" data-dojo-type="dijit/form/Select"data-dojo-attach-point="_trafficDay" style="width:46%;table-layout:fixed;">
          <option value="1/1/1990">${i18n.monday}</option>
          <option value="1/2/1990">${i18n.tuesday}</option>
          <option value="1/3/1990">${i18n.wednesday}</option>
          <option value="1/4/1990">${i18n.thursday}</option>
          <option value="1/5/1990">${i18n.friday}</option>
          <option value="1/6/1990">${i18n.saturday}</option>
          <option value="1/7/1990">${i18n.sunday}</option>
        </select>
        <input  type="text" data-dojo-type="dijit/form/TimeTextBox" data-dojo-props="value:'T12:00:00', required:true,intermediateChanges:true,constraints:{formatLength:'short',selector:'time'}"  data-dojo-attach-point="_trafficTime" style="height:24px;width:37%;margin-top:0;">
        </input>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="padding-top:0;">
        <a class="esriLeadingMargin3 esriSmallFont" href="http://www.arcgis.com/home/item.html?id=b7a893e8e1e04311bd925ea25cb8d7c7" target="_available">${i18n.seeAvailability}</a>
      </td>
    </tr>
  </tbody>
</table>
