<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="Default.htm" />
                <add value="init.js" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
